@using Hotel.Web.Hotel.Web.ViewModels.Account
@model LoginViewModel

@{ 
    ViewBag.Title = "За да направите успешна резервация трябва да се логнете!";
    ViewBag.Email = "Емайл";
    ViewBag.Password = "Парола";
    ViewBag.Remember = "Запомни ме";
}
<div class="row">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="col-xs-12">
                <div class="thumbnail">
                    @Html.AntiForgeryToken()
                    <div style="margin-top: 20px; margin-left: 50px">
                        <h2>@ViewBag.Title</h2>
                        <hr />
                        <p>Регистрацията позволява да се възползвате от промоции.</p>
                        <p>Телефон за резервация : +359 000 000</p>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, (string)ViewBag.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, (string)ViewBag.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe, (string)ViewBag.Remember)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Влез" class="btn btn-info" />
                            </div>
                        </div>
                        <p>
                            @Html.ActionLink("Регистрирай се", "Register")
                        </p>
                    </div>
                </div>
            </div>
            @* Enable this once you have account confirmation enabled for password reset functionality
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>*@
        }
    @*<div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}